@model IEnumerable<OTMF_NETCORE_MVC.Models.Etiquetum>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="row">
     <partial name="_navigationColumnPartes"/>

        <div class="col-9">
            <fieldset>
                <legend>Etiquetas</legend>
<table class="table" id="Etiquetas">
    <thead>
        <tr>
            <th>
               Nombre de Etiqueta de la Parte
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEtiqueta)
            </td>
            <td>
            <div class="btns-group">
                <a asp-action="Details" onclick="ObtenerEtiquetaDeCaja('@item.NombreEtiqueta')" data-bs-toggle="modal" data-bs-target="#exampleModal"   class="btn btn-lg btn-warning">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.IdEtiqueta" class="btn btn-lg btn-danger">Delete</a>
            </div>
    
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="EtiquetaPieza">


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>







@section Scripts{
    <script src="~/js/Etiquetums/IndexEtiquetums.js" type="text/javascript"></script>
}
