@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
    <div class="col-3" >
        <fieldset>
            <legend><h5 class="display-6">Gestionar</h5></legend>
        <div class="d-flex flex-column flex-shrink-0 p-1 bg-light">
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
         Maquina
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Instructivo
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
         Turno
        </a>
      </li>
     
    </ul>
    <hr>
  
  </div>
  </fieldset>
    </div>
    </div>
    
    <div class="col-9" style="background-color:blue;">
        <table>
            <thead>
                <th></th>
                <th></th>
                <th></th>
                
            </thead>
            <tbody>

            </tbody>
        <tfoot>


        </tfoot>
        </table>


    </div>


</div>
