@model IEnumerable<OTMF_NETCORE_MVC.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
  <partial name="_navigationColumnPartes"/>
        <div class="col-9">
            <fieldset>
                <legend>Clientes</legend>
    <table class="table" id="Clientes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente"   class="btn btn-lg btn-primary">Edit</a> 
              
                <a asp-action="Delete" asp-route-id="@item.IdCliente" class="btn btn-lg btn-danger" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script src="~/js/Clientes/IndexClientes.js" type="text/javascript"></script>
}



