@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


      ViewData["Title"] = "Reportes";
}
<div class="container-fluid">

    <div class="row">
       <div class="col-1 bg-gradient-primary">

            <partial name="_navigationColumnPartes"/>

        </div>
    

        <div class="col-10 offset-1">
        
        <div class="card" style="width: 18rem;">
  <img src="~/lib/brand/24261dba-3824-4484-9149-5ba298ae777d.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Reporte de Produccion</h5>
    <p class="card-text">Click aqui para obtener el reporte de produccion por fecha</p>
       <a type="button" asp-controller="Produccion" asp-action="ReporteProduccion" class="btn btn-primary">Reporte Produccion</a>
  </div>
</div>
               

                
         
        </div>
    </div>
    <div class="row">


    </div>
</div>


