@model OTMF_NETCORE_MVC.Models.Empleado

@{
    ViewData["Title"] = "Create";
}


<div class="container">
<h4>Nuevo Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEmpleado" class="control-label">Nombre del Empleado</label>
                <input asp-for="NombreEmpleado" class="form-control" />
                <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaveEmpleado" class="control-label">Clave del Empleado</label>
                <input asp-for="ClaveEmpleado" class="form-control" />
                <span asp-validation-for="ClaveEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Activo</label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
              
            </div>
            <div class="form-group">
                <label asp-for="IdTipoEmpleadoFk" class="control-label"> Tipo de Empleado</label>
                <select asp-for="IdTipoEmpleadoFk" class ="form-control" asp-items="ViewBag.IdTipoEmpleadoFk">
                    <option selected disabled>Seleccionar Opcion</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdTurnoFk" class="control-label">Turno del Empleado</label>
                <select asp-for="IdTurnoFk" class ="form-control" asp-items="ViewBag.IdTurnoFk">
                    <option selected disabled>Seleccionar Opcion</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
