@model OTMF_NETCORE_MVC.Models.Empleado

@{
    ViewData["Title"] = "Eliminar empleado";
}

<div class="container">
<div class="row">
    <div class="offset-3 col-6">
        <h6 class="display-6"><strong>Estas seguro que deseas eliminar este registro?</strong></h6>
    </div> 
</div>
   
    <div class="row">
        <div class="offset-3 col-6">
           
        
        <div class="form-group">
           @Html.DisplayFor(model => model.NombreEmpleado)
        
        </div>
        
        <div class="form-group">
            @Html.DisplayFor(model => model.ClaveEmpleado)
        
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.Estado)
        
        </div>
    
       <form asp-action="Delete"  class="form-group">
        <input type="hidden" asp-for="IdEmpleado" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-action="Index">Regresar </a>
    </form>
    </div>
    
    
    </div>
   
</div>
