@model IEnumerable<OTMF_NETCORE_MVC.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
    <div class="col-3" >
        <fieldset>
            <legend><h5 class="display-6">Gestionar</h5></legend>
        <div class="d-flex flex-column flex-shrink-0 p-1 bg-light">
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Empleados
        </a>
      </li> <li class="nav-item">
        <a class="nav-link link-dark" asp-controller="TipoEmpleadoes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Tipos
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Turnoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Turno
        </a>
      </li>
     
     
    </ul>
    <hr>
  
  </div>
  </fieldset>
    </div>

        <div class="col-9">
            <fieldset>
                <legend>Empleados</legend>
                     <table class="table table-hover" id="Empleadoes">
   
                         <thead> 
                             <tr>
                                 <th> IdEmpleado</th>
                                 <th> Nombre de Empleado</th>
                                 <th> Clave de Empleado</th>
                                 <th> Activo</th>
                                 <th> Tipo de Empleado</th>
                                 <th> Tipo de Empleado</th>
                                 <th> Turno</th>
                                 <th> Nombre del Turno</th> 
                                
                             </tr>
                         </thead>
                         <tbody>

                         </tbody>
                         <tfoot></tfoot>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script>
        
$(document).ready(function () {


    $("#Empleadoes").DataTable({
        "ajax": {
            "url": "Empleadoes/ObtenerEmpleados",
            "type": "GET",
            "datatype": "json"
        },
           dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel"></i>',
                tittleAttr: 'Exportar a Excel',
                className: 'btn btn-lg btn-success'

            },
            {
                extend: 'pdfHtml5',
                text: '<i class="fas fa-file-pdf"></i>',
                tittleAttr: 'Exportar a Excel',
                className: 'btn btn-lg btn-danger'

            }
            , {
                extend: 'print',
                text: '<i class="fa fa-print"></i>',
                tittleAttr: 'Imprimir',
                className: 'btn btn-lg btn-info'

            }
            ,
            {
                text:'<i class="fa fa-plus" aria-hidden="true"></i>',
                tittleAttr: 'Agregar Nuevo',
                className:'btn btn-lg btn-primary',
                action: function() {
                    window.location.href = "Empleadoes/Create";
                }
            }


        ],
        autoFill: false,
        responsive: true,
        select:false,
        rowId:'idEmpleado',
        "columns": [
            { "data": "idEmpleado" },
            { "data": "nombreEmpleado" },
            { "data": "claveEmpleado" },
            { "data": "estado" },
            { "data": "idTipoEmpleado" },
            { "data": "nombreTipoEmpleado" },
            { "data": "idTurno" },
            { "data": "nombreTurno" }
            
           
        ],
         columnDefs:[
             {
                 targets : 0,
                 visible:false
             }
         ]
    });

    var table = $('#Empleadoes').DataTable();
     $('#Empleadoes').on( 'click', 'td', function () {
    var id = table.row( this ).id();
    window.location.href = "Empleadoes/Details/" + id;
     
     });


});

 


function GetDetailsEmpleadoes(event) {
   
   
    let d = document.getElementsByTagName("#Empleadoes tbody tr");
    console.log(d);
   // 
}

    </script>
}


