@model IEnumerable<OTMF_NETCORE_MVC.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
    <div class="col-3" >
        <fieldset>
            <legend><h5 class="display-6">Gestionar</h5></legend>
        <div class="d-flex flex-column flex-shrink-0 p-1 bg-light">
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Empleados
        </a>
      </li> <li class="nav-item">
        <a class="nav-link link-dark" asp-controller="TipoEmpleadoes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Tipos
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Turnoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Turno
        </a>
      </li>
     
     
    </ul>
    <hr>
  
  </div>
  </fieldset>
    </div>

        <div class="col-9">
            <fieldset>
                <legend>Empleados</legend>
                     <table class="table table-hover" id="Empleadoes">
   
                         <thead> 
                             <tr>
                                 <th> IdEmpleado</th>
                                 <th> Nombre de Empleado</th>
                                 <th> Clave de Empleado</th>
                                 <th> Activo</th>
                                 <th> Tipo de Empleado</th>
                                 <th> Tipo de Empleado</th>
                                 <th> Turno</th>
                                 <th> Nombre del Turno</th> 
                                
                             </tr>
                         </thead>
                         <tbody>

                         </tbody>
                         <tfoot></tfoot>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script src="~/js/Empleadoes/IndexEmpleadoes.js"></script>
}


