@model IEnumerable<OTMF_NETCORE_MVC.Models.Molde>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
   <partial name="_navigationColumnPartes"/>

        <div class="col-9">
            <fieldset>
                <legend>Empleados</legend>
 <table class="table" id="Moldes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMolde)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMolde)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMolde"    class="btn btn-lg btn-primary">Edit</a> 
              
                <a asp-action="Delete" asp-route-id="@item.IdMolde"  class="btn btn-lg btn-danger" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script src="~/js/Moldes.js" type="text/javascript"></script>
}


