@model IEnumerable<OTMF_NETCORE_MVC.Models.InstructivoPieza>
@{
}

<div class="container-fluid">
    <div class="row">
          <partial name="_navigationColumnPartes"/>
        <div class="col-9">
            <fieldset>
                <legend>Instructivo</legend>
         <table class="table hover">
        <thead>
            <tr>
                <th>Nombre Instructivo </th>
            </tr>
            </thead>
            <tbody>
              @foreach( var item in Model)
    {

        <tr>
            <td>@item.NombreInstructivoPieza</td>
            
        <td> 
            <a asp-action="Edit" asp-route-id="@item.IdInstructivoPieza"   class="btn btn-lg btn-primary">Edit</a> 
        
                <a asp-action="Delete" asp-route-id="@item.IdInstructivoPieza" class="btn btn-lg btn-danger" >Delete</a></td>
        
        </tr>
        

        
    }
            </tbody>
      
    </table>
            </fieldset>
             

        </div>
       


    </div>
   
   

</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/InstructivoPieza.js" type="text/javascript"></script>

}