<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - M.E.S.</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/OTMF_NETCORE_MVC.styles.css" asp-append-version="true" />
        <!-- include the style -->
        <link rel="stylesheet" href="~/lib/alertifyjs/css/alertify.min.css" />
        <!-- include a theme -->
        <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <main role="main">
            @RenderBody()
        </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/alertifyjs/alertify.min.js" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
