@model List<OTMF_NETCORE_MVC.Entities.ObtenerOTAsignadas>
@{ 
}
<div class="container">
    <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

               @foreach (var item in Model)
            {
                @if(item.IdEstadoOTFK == 7 || item.IdEstadoOTFK == 9 ||    item.IdEstadoOTFK == 10 || item.IdEstadoOTFK == 12)
                {
                     <li class="nav-item" role="presentation" id="OtList">
                <button class="nav-link m-2 p-3 border border-1 border-dark shadow" onclick="GetOrdenTrabajo(@item.idOrdenTrabajo)"  data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                    
                    <div style="display:none;" id="IdentificadorOT">@item.idOrdenTrabajo</div>
                    <div id="@item.idOrdenTrabajo"></div>
                </button>
                  </li>
                }
            }
</ul>
<div id="indicadorEstado" class="shadow">
   
    <div class="row">
        <div class="col-6">
              <nav id="ShowHoraInicio" class="d-flex flex-wrap">
             
              </nav>
        </div>
        <div class="col-6">
            <nav id="ShowHoraFinalizacion" class="d-flex flex-wrap">

            </nav>
        </div>
       
    </div>
    <div class="tab-content d-flex flex-wrap" id="pills-tabContent">
      
    </div>
      <div class="tab-content card " id="part-Image">
      
    </div>
    <div class="row">
            
            <ul id="ShowAccesorios" class="list-group list-group-horizontal m-3">

            </ul>
      
    </div>
     <div class="row">
            <div class="col-7">
                <nav id="ShowCajasRecibidas" class="d-flex flex-wrap border border-2 rounded m-1">
                    
                 </nav>
            </div>
            <div class="col-5">
                <nav id="ShowCajasRealizadas" class="d-flex flex-wrap border border-2 rounded m-1">

                </nav>
            </div> 
        </div>
        <div class="row">
            <div class="col-9">
                  <nav id="EmpleadosRelacionados" class="d-flex flex-wrap border border-2 rounded m-1">

                   </nav>
            </div>
            <div class="col-3">
                <nav id="AccionesOrdenTrabajo" class="d-flex flex-wrap border border-2 rounded m-1">

                </nav>
            </div>
        </div> 
</div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Asignar Empleados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form">
            <form>
              <div class="m-2">
                   <select id="EleccionEmpleado" class ="form-control" asp-items="ViewBag.Empleado">
                     
                     <option disabled selected> Seleccionar Empleado</option>
                   </select>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="ClearCambiosEmpleados()" >Aceptar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarCambiosEmpleados()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="CajasRecibidasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro Inicial de Activos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="form-group">
           
            <input type="number" name="CajasRecibidas" id="CajasRecibidas" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Numero de Cajas Recibidas</small>
          
            <input type="number" name="PiezasSueltasRecibidas" id="PiezasSueltasRecibidas" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Numero de Piezas Sueltas Recibidas</small>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="UpdateCajasRecibidas()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="PiezasRealizadasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro Final de Activos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input type="number" name="PiezasRealizadas" id="PiezasRealizadas" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Numero de Piezas Realizadas</small>    
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="UpdateCajasRealizadas()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="MotivoCambioEstadoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Motivo de cambio de estado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="form-group">
             <label for="checkRespuesta"></label>
            <select id="checkRespuesta" name="checkRespuesta" onchange="CheckRespuestaCambioEstado()" class ="form-control" asp-items="ViewBag.MotivoCambioEstado">
                     
                     <option disabled selected> Seleccionar Motivo</option>
            </select>   
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="InsertRespuestaCambioEstado()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ResumenTiemposMuertos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resumen de Tiempos Muertos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col">
                  <div class="bg-danger m-1 p-1 rounded" >
                        <div class="bg-white" id="ResumenSumDetenida">

                        </div>
                  </div>
                  </div>
                  
                  <div class="col">
                      <div class=" bg-warning m-1 p-1 rounded" >
                        <div class="bg-white" id="ResumenSumPorLiberar">

                        </div>
                  </div>
                  </div>
                  
                  <div class="col">
                        <div class=" bg-success m-1 p-1 rounded" >
                        <div class="bg-white" id="ResumenSumActiva">

                        </div>
                  </div>
                  </div>
                
              </div>
              <div class="row">
                      <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ver linea de tiempo
  </a>

</p>
              </div>
          
<div class="collapse" id="collapseExample">
    <div class="accordion" id="accordionExample">
         <div id="ResumenContainer"></div>
    </div>
  
  
</div>
           
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>



@section Scripts{
    
    <script src="~/js/OtEstado.js"></script>

}