@model List<OTMF_NETCORE_MVC.Entities.ObtenerOTAsignadas>
@{ 
}
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs mt-4" id="MaquinasAsignadas">

        </ul>
    </div>
    <div class="row">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">

               @foreach (var item in Model)
            {
                @if(item.IdEstadoOTFK == 7 || item.IdEstadoOTFK == 9 ||    item.IdEstadoOTFK == 10 || item.IdEstadoOTFK == 12)
                {
                     <li class="nav-item" role="presentation" id="OtList">
                <button class="nav-link m-2 p-3 border border-1 border-dark shadow" onclick="GetOrdenTrabajo(@item.idOrdenTrabajo)"  data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                    
                    <div style="display:none;" id="IdentificadorOT">@item.idOrdenTrabajo</div>
                    <div id="@item.idOrdenTrabajo"></div>
                </button>
                    </li>
                }
                
            }
</ul>
<div class="backgorund-smi">
    <div id="ot-wrapper">

<div id="indicadorEstado" class="shadow">
  
    <div class="row">
        <div class="col-6">
              <nav id="ShowHoraInicio" class="d-flex flex-wrap">
             
              </nav>
        </div>
        <div class="col-6">
            <nav id="ShowHoraFinalizacion" class="d-flex flex-wrap">

            </nav>
        </div>
       
    </div>
    
    <div class="tab-content d-flex flex-wrap" id="pills-tabContent">
              
    </div>
    <!--BITACORA ORDEN DE TRABAJO-->
    <div class="row">
        <div class="col-12">
           
            <div id="BitacoraOrdenTrabajo" class="d-flex flex-wrap justify-content-center">
            
                
            
            </div>
       </div>
    </div>
    <div class="tab-content card " id="part-Image">
      
    </div>
    <div class="row">
            <div class="col-12">
                 <ul id="ShowAccesorios" class="list-group list-group-horizontal">

            </ul>
            </div>
           
      
    </div>
     <div class="row">
            <div class="col-7">
                <nav id="ShowCajasRecibidas" class="d-flex flex-wrap border border-2 rounded m-1">
                    
                 </nav>
            </div>
            <div class="col-5">
                <nav id="ShowCajasRealizadas" class="d-flex flex-wrap border border-2 rounded m-1">

                </nav>
            </div> 
        </div>
        <div class="row">
            <div class="col-9">
                  <nav id="EmpleadosRelacionados" class="d-flex flex-wrap border border-2 rounded m-1">

                   </nav>
            </div>
            <div class="col-3">
                <nav id="AccionesOrdenTrabajo" class="d-flex flex-wrap border border-2 rounded m-1">

                </nav>
            </div>
        </div> 
</div>
</div>


</div>

    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Asignar Empleados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form">
            <form>
              <div class="m-2">
                   <select id="EleccionEmpleado" class ="form-control" asp-items="ViewBag.Empleado">
                     
                     <option disabled selected value="0"> Seleccionar Empleado</option>
                   </select>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="ClearCambiosEmpleados()" >Aceptar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarCambiosEmpleados()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="CajasRecibidasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro Inicial de Activos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="form-group">
           
            <input type="number" name="CajasRecibidas" id="CajasRecibidas" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Numero de Cajas Recibidas</small>
          
            <input type="number" name="PiezasSueltasRecibidas" id="PiezasSueltasRecibidas" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Numero de Piezas Sueltas Recibidas</small>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="UpdateCajasRecibidas()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="PiezasRealizadasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro Final de Activos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input type="number" name="PiezasRealizadas" id="PiezasRealizadas" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Numero de Piezas Realizadas</small>    
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="UpdateCajasRealizadas()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="MotivoCambioEstadoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificar motivo de Pausa</h5>
       
      </div>
      <div class="modal-body">
          <div class="form-group">
             <label for="checkRespuesta"></label>
            <select id="checkRespuesta" name="checkRespuesta" onchange="CheckRespuestaCambioEstado()" class ="form-control" asp-items="ViewBag.MotivoCambioEstado">
                     
                     <option disabled selected value="0"> Seleccionar Motivo</option>
            </select>   
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="InsertRespuestaCambioEstado()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!--
    Modal Resumen de tiempos muertos 
-->
<div class="modal fade" id="ResumenTiemposMuertos" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Final de Jornada</h5>
     
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="d-flex justify-content-center">
               
                 <small class="help-text">JORNADA FINALIZADA , PRESIONA GUARDAR PARA SEGUIR</small>
                 <button type="button" class="btn btn-success" onclick="UpdateBitacoraOrdenTrabajoProdTerminada()">Guardar</button>
                  </div>
                
              </div>
          
          

           
          </div>
      </div>
      <div class="modal-footer">
 
      
      </div> <!---->
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="EditModalNCP" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar numero de cabidades por pieza</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         
         <div class="form-group">
           
           
          
            <input type="number" name="NumeroCabidades" id="NumeroCabidades" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Numero de Cabidades por Pieza</small>
          </div>     
       
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="UpdateNumeroCabidades()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ModalFinalProduccion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Orden de trabajo terminada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         
         <div class="form-group">
           
           
          <p>El numero de piezas producidas a sido satisfecho!</p>
           
      
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Cerrar</button>
      </div>
    </div>
  </div>
</div>



@section Scripts{
    
    <script src="~/js/OTEstado/OrdenesDeTrabajoAsignadas.js" type="text/javascript"></script>

}