@model IEnumerable<OTMF_NETCORE_MVC.Models.Pintura>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="row">
    <div class="col-1 bg-gradient-primary">

            <partial name="_navigationColumnPartes"/>

        </div>
    

        <div class="col-10 offset-1">
            <fieldset>
                <legend>Pinturas</legend>
<table class="table" id="Pinturas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePintura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePintura)
            </td>
            <td>
                <div class="btns-group">
                <a asp-action="Edit" asp-route-id="@item.IdPintura"    class="btn btn-lg btn-primary">Edit</a> 
         
                <a asp-action="Delete" asp-route-id="@item.IdPintura"  class="btn btn-lg btn-danger" >Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script src="~/js/Pinturas/IndexPinturas.js"></script>
}



