@model IEnumerable<OTMF_NETCORE_MVC.Models.Inserto>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
    <partial name="_navigationColumnPartes"/>

        <div class="col-9">
            <fieldset>
                <legend>Inserto</legend>
 <table class="table" id="Insertos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreInserto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                <tr>
                    <td>
                        
                        @Html.DisplayFor(modelItem => item.NombreInserto)
                    
                    </td>
                    <td>
                        <div class="btns-group">
                              <a asp-action="Edit" asp-route-id="@item.IdInserto" class="btn btn-primary">Editar</a>     
                              <a asp-action="Delete" asp-route-id="@item.IdInserto" class="btn btn-danger" >Eliminar</a>
                        </div>
                      
                    
                    </td>
                </tr>
}
                </tbody>
                </table>
            </fieldset>  
    </div>
    </div>
    



</div>


@section Scripts{
    <script src="~/js/Insertoes/IndexInsertoes.js" type="text/javascript"></script>
}


