@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">


<div class="row">
<div class="col-12">
    <div class="d-flex justify-content-center">
        <p>Desea cancelar la orden de trabajo</p>
    </div>
    

</div>
</div>


</div>
