@model OTMF_NETCORE_MVC.Models.OrdenTrabajo

@{
    ViewData["Title"] = "Create";
}


<div class="container mt-1">
    <h6>Crear Orden Trabajo</h6>


<hr />
    
    <div>
        <form asp-action="Create" id="Createot" class="row m-2 border border-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
           <div class="col-6">
             <!-- INPUTS ESCONDIDOS CON VALOR AUTOMATICO---->
                <input asp-for="CajasRecibidas" type="hidden" value="0" class="form-control" />
                    
                <input asp-for="IdEmpleadoMoldeadorFk" type="hidden" value="0" class="form-control" />
                <input asp-for="PiezasRealizadas" type="hidden" value="0" class="form-control" />
                <input asp-for="IdEmpleadoEmpacadorFk" type="hidden" value="0" class="form-control" />
                <input asp-for="IdEmpeadoSupervisorFk" type="hidden" value="0"class="form-control" />
                <input asp-for="FechaOrdenTrabajo" type="hidden" class="form-control" />
                <input asp-for="HoraInicio"       id="HoraInicio" type="hidden"  class="form-control" />
            
                <input asp-for="HoraFinalizacion"  id="HoraFinalizacion" type="hidden" class="form-control" />
                <input asp-for="EtiquetaDeCaja" type="hidden" value="0" class="form-control" />
                <input asp-for="IdEstandarConRelevoFk" type="hidden" value="0" class="form-control" />
                <input asp-for="IdMaquinaFk" type="hidden" value="0" class="form-control" />
                <input asp-for="MaxScrap" class="form-control" type="hidden" value="0" />
                <input asp-for="IdEstandarPorHoraFk" type="hidden" value="0" class="form-control" />
                <input asp-for="IdOrdenTrabajo" type="hidden" id="IdOrdenTrabajo" class="form-control" />
                <input asp-for="IdInstructivoFk" type="hidden" id="IdInstructivoFk" />
                <input asp-for="Otespecial" type="hidden" id="IdOTespecial" />
                <input asp-for="CantidadPiezasOtflag" value="false" type="hidden" id="IdCantidadPiezasOtflag" />
                  <input asp-for="NumeroCabidadesPieza" type="hidden" value="0" />
                <!------>

            <div class="form-group">
                <label asp-for="IdEstadoOrdenFk" class="control-label">Estado inicial de la Orden Trabajo</label>
                   <select asp-for="IdEstadoOrdenFk" id="IdEstadoOrdenFk"  class ="form-control" asp-items="ViewBag.IdEstadoOrdenFk" required>
                       <option value="0" selected disabled>Seleccionar Estado de la Orden de Trabajo</option>
                   </select>
            </div>  
         
            <div class="form-group">
                <label asp-for="IdTurnoOtFk" class="control-label">Turno Orden Trabajo</label>
                   <select asp-for="IdTurnoOtFk"   class ="form-control" asp-items="ViewBag.IdTurnoOtFk" required>
                       <option  selected disabled>Seleccionar Turno Orden Trabajo</option>
                   </select>
            </div>
           
            <div class="form-group">
                <label asp-for="IdParteFk" class="control-label">Numero de Parte</label>
                <select asp-for="IdParteFk" class ="form-control" asp-items="ViewBag.IdParteFk">
                    <option selected disabled> Seleccionar Pieza </option>
                </select>
            </div> 
            
              
            
    </div>
    <div class="col-6">
        
        <div id="prefixOT">
              <section class="form-group" id="otnormal">
                    <label>Codigo Orden Trabajo</label>
              <div class="input-group mb-1 mt-1">
                
                      <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"></span>
                      </div>
                      <input type="text" class="form-control" asp-for="IdCodigoOrdenTrabajo" placeholder="Nombre Orden de Trabajo" aria-label="Orden Trabajo normal" id="InputPrefixValue" aria-describedby="basic-addon1">
                      </div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fas fa-fw fa-cog"></i>
</button>
        </section>
            <section class="form-group" style="display:none;" id="otespecial">
             
    <label asp-for="IdCodigoOrdenTrabajo" class="control-label"> Codigo Orden Trabajo</label>

 
         <input asp-for="IdCodigoOrdenTrabajo" id="InputNormalot" placeholder="Orden de Trabajo Especial" class="form-control mb-3" required/>


      <span asp-validation-for="IdCodigoOrdenTrabajo" class="text-danger"></span>


               
        
           
          </section>

        </div>

      
          <div class="form-group">
              <div class="row g-3 align-items-center">
  <div class="col-auto">
       <input onchange="Getchkvalue()" type="checkbox" value="true"  id="flexCheckChecked">
  </div>
  <div class="col-auto">
   <label class="form-check-label" for="flexCheckChecked">Orden Trabajo Especial</label>
  </div>

</div>
         
               
          </div>
          <div  class="form-group">
              <div class="row g-3 align-items-center">
                     <div class="col-auto">
       <input onchange="GetchkvalueCantidadPiezasPorOrden()" type="checkbox" value="true"  id="CantidadPiezasPorOrdenChk">

  </div>
  <div class="col-auto">
      <label class="form-check-label" for="CantidadPiezasPorOrdenChk">Cantidad Piezas por Orden Especificada</label>
  </div>
              </div>
          </div>

          
             <div class="form-group" id="CantidadPiezasPorOrden" style="display:none;">
                    <label asp-for="CantidadPiezasPororden" class="control-label"> Cantidad de piezas por orden</label>
                         <input asp-for="CantidadPiezasPororden" type="number" value="0" class="form-control" />
            </div>
          
       
    </div>
            <div class="mt-3 btns-group">
                   <input type="button" value="Crear" onclick="CheckChkEspecialValue()" class="btn btn-primary" />
                   <a asp-action="Index" type="button" class="btn btn-danger">Regresar</a> 
                 
            </div>
        </form>
    </div>
</div>

<div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar prefijo de Orden de Trabajo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input class="form-control" id="prefix" placeholder="Prefijo para Orden de Trabajo" type="text" max="20" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-primary" onclick="UpdatePrefixOT()">Guardar</button>
      </div>
    </div>
  </div>
</div>

</div>

@section Scripts {
    <script src="~/js/OrdenTrabajoes/CreateOrdenTrabajoes.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
