@model OTMF_NETCORE_MVC.Models.OrdenTrabajo

@{
    ViewData["Title"] = "Details";
}

<input asp-for="IdOrdenTrabajo" type="hidden" id="IdOrdenTrabajo" />
<div class="container">
   <div class="row">
      <div class="container">
          <div id="OTDetails"></div>
      </div>
       <div class="form-group">
               <a asp-action="Edit" asp-route-id="@Model?.IdOrdenTrabajo" class="btn bg-primary btn-lg text-white">Editar</a> 
    <a asp-action="Index" class="btn bg-danger btn-lg text-white">Regresar</a>
       </div>
       

</div>
</div>


@section Scripts{

    <script>
        $(document).ready(function() {
            ObtenerDetallesOT();
        });


        function ObtenerDetallesOT() {
            var IdOrdenTrabajo = document.getElementById("IdOrdenTrabajo").value;
            $.ajax({
                method: "POST",
                url: "@Url.Action("ObtenerOrdenesTrabajoDetallesById")",
                data: {
                    IdOrdenTrabajo:IdOrdenTrabajo
                },
                dataType: "json",
                success: function(data){
                    console.log(data);
               
            
                 
                    $("#OTDetails").append("<p>Fecha de Creacion</p><p>"+data.data[0].FechaOrdenTrabajo+"</p><hr/>")
                    $("#OTDetails").append("<p>Fecha de Finalizacion</p><p>"+data.data[0].HoraFinalizacion+"</p><hr/>")
                    $("#OTDetails").append("<p>Fecha de Inicio</p><p>"+data.data[0].HoraInicio+"</p><hr/>")
                    $("#OTDetails").append("<p>Codigo de Orden De Trabajo</p> <p>"+data.data[0].IdCodigoOrdenTrabajo+"</p><hr/>")
                    $("#OTDetails").append("<p>Codigo de Parte</p> <p>"+data.data[0].IdCodigoParte+"</p><hr/>")
                    $("#OTDetails").append("<p>Estado de la orden de trabajo</p><p>"+data.data[0].NombreEstadoOrden+"</p><hr/>")
                }

            });
        }

        function FillDetallesOT() {

        }

    </script>


}