@model OTMF_NETCORE_MVC.Models.OrdenTrabajo

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row mt-2">
    <div class="col-4">
     
        <input type="hidden" asp-for="IdOrdenTrabajo" id="IdOrdenTrabajo" />
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <!----------------------------------------------------------------------->
                <input asp-for="IdEmpleadoMoldeadorFk" type="hidden" class="form-control" />
                <input asp-for="IdEmpleadoEmpacadorFk" type="hidden" class="form-control" />
                <input asp-for="IdMaquinaFk" type="hidden" class="form-control" />
                <input type="hidden"  asp-for="IdOrdenTrabajo" />
                <input asp-for="FechaOrdenTrabajo" type="hidden" class="form-control" />
                <input asp-for="HoraInicio" type="hidden" class="form-control" />
                <input asp-for="IdCodigoOrdenTrabajo" type="hidden" class="form-control" />
                <input type="hidden" asp-for="IdEstandarPorHoraFk" class="form-control" />
                <input asp-for="MaxScrap" type="hidden" class="form-control" />
                <input type="hidden" asp-for="IdEstandarConRelevoFk" class="form-control" />
                <input asp-for="CajasRecibidas" type="hidden" class="form-control" />
                <input asp-for="EtiquetaDeCaja" type="hidden" class="form-control" />
                <input asp-for="IdEmpeadoSupervisorFk" type="hidden" class="form-control" />
                <input type="hidden" asp-for="HoraFinalizacion" class="form-control" />
               
         <!------------------------------------------------------------------------>
           <div class="form-group">
                <label asp-for="IdParteFk" class="control-label"> Numero de Pieza</label>
                <select asp-for="IdParteFk" id="IdParteFK" class="form-control" asp-items="ViewBag.IdParteFk"></select>
                <span asp-validation-for="IdParteFk"  class="text-danger"></span>
           </div>
                         
            <div class="form-group">
                <label asp-for="CantidadPiezasPororden" class="control-label">Cantidad de Piezas por Orden</label>
                <input asp-for="CantidadPiezasPororden" id="CantidadPiezasPorOrden" class="form-control" />
                <span asp-validation-for="CantidadPiezasPororden" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="NumeroCabidadesPieza" class="control-label">Cavidades</label>
                <input asp-for="NumeroCabidadesPieza" id="NumeroCabidadesPieza" type="number" />
                <span asp-validation-for="NumeroCabidadesPieza" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <div class="btns-group">
                        <a asp-action="Index" class="btn btn-danger btn-lg">Regresar</a>
                      <input type="button" value="Guardar" onclick="UpdateOrdenTrabajo()" class="btn btn-primary btn-lg" />
             
                </div>
              
            </div>
        </form>
    </div>
    <div class="col-4">
       
            <div class="form-group">
                <label asp-for="PiezasRealizadas" class="control-label"> Piezas Realizadas</label>
                <input  asp-for="PiezasRealizadas" id="PiezasRealizadas" class="form-control" />
                <span asp-validation-for="PiezasRealizadas" class="text-danger"></span>
            </div>
        
          
            <div class="form-group">
                <label asp-for="IdEstadoOrdenFk" class="control-label"> Estado Orden</label>
                <select asp-for="IdEstadoOrdenFk" id="IdEstadoOrdenFK" class="form-control" asp-items="ViewBag.IdEstadoOrdenFk"></select>
                <span asp-validation-for="IdEstadoOrdenFk" class="text-danger"></span>
            </div>
</div>
<div class="col-4">
    <div class="container">
   <div class="row">

        <h5>Empleado asignados</h5>
    <div class="form-group">
   

        <div id="EmpleadosRelacionados">

        </div>
    </div>

   </div>
   <div class="row">
       <h5>Maquinas Asignadas</h5>
    <div class="form-group">
   

        <div id="MaquinasRelacionadas">

        </div>
    </div>


   </div>
    </div>

   

</div>
</div>


</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Asignar Empleados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form">
            <form>
              <div class="m-2">
                   <select id="EleccionEmpleado" class ="form-control" asp-items="ViewBag.Empleado">
                     
                     <option disabled selected> Seleccionar Empleado</option>
                   </select>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" >Aceptar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarCambiosEmpleados()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="MaquinaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eleguir Empleados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <form>
              <div class="m-2">
                   <select id="EleccionMaquina" class ="form-control" asp-items="ViewBag.Maquinas">
                     <option disabled selected> Seleccionar Maquina</option>
                   </select>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="UpsertMaquinasAsignadasByOTId()">Guardar</button>
      </div>
    </div>
  </div>
</div>


@section Scripts {

    <script src="~/js/OrdenTrabajoes/EditOrdenTrabajoes.js"></script>
   

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
