@model IEnumerable<OTMF_NETCORE_MVC.Models.OrdenTrabajo>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
    <div class="col-3" >
        <fieldset>
            <legend><h5 class="display-6">Gestionar</h5></legend>
        <div class="d-flex flex-column flex-shrink-0 p-1 bg-light">
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a  asp-controller="OrdenTrabajoes"  asp-action="Index" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Ordenes de Trabajo
        </a>
      </li> <li class="nav-item">
        <a class="nav-link link-dark" asp-controller="Instructivoes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Instructivo 
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Maquinas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
          Maquina
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="EstadoOrdens"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Estado OT
        </a>
      </li> 
    </ul>
    <hr>
  
  </div>
  </fieldset>
    </div>

        <div class="col-9">

            <fieldset>
                <legend>Ordenes de Trabajo</legend>
              
                     <table class="table table-hover" id="OrdenesDeTrabajo">
   
                         <thead> 
                             <tr>
                                 <th> IdOrdenTrabajo</th>
                                 <th> FechaOrdenTrabajo</th>
                                 <th> CantidadPiezasPorOrden</th>
                                 <th> CajasRecibidas</th>
                                 <th> PiezasRealizadas</th>
                                 <th> HoraInicio</th>
                                 <th> HoraFinalizacion</th>
                                 <th> EtiquetaDeCaja</th> 
                                 <th> MaxScrap</th>
                                 <th> IdCodigoOrdenTrabajo</th>
                                 <th> IdEstadoOrden</th>
                                 <th> NombreEstadoOrden</th>
                                 <th> IdInstructivo</th>
                                 <th> NombreInstructivo</th>
                                 <th> IdParteFK</th>
                                 <th> IdCodigoOrdenTrabajo</th>
                                 <th> IdParte</th>
                                 <th> IdCodigoParte</th>
                             </tr>
                         </thead>
                         <tbody>

                         </tbody>
                         <tfoot></tfoot>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script>
        
$(document).ready(function () {


    $("#OrdenesDeTrabajo").DataTable({
        "ajax": {
            "url": "OrdenTrabajoes/ObtenerOrdenesTrabajo",
            "type": "GET",
            "datatype": "json"
        },
        
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel"></i>',
                tittleAttr: 'Exportar a Excel',
                className: 'btn btn-lg btn-success'

            },
            {
                extend: 'pdfHtml5',
                text: '<i class="fas fa-file-pdf"></i>',
                tittleAttr: 'Exportar a Excel',
                className: 'btn btn-lg btn-danger'

            }
            , {
                extend: 'print',
                text: '<i class="fa fa-print"></i>',
                tittleAttr: 'Imprimir',
                className: 'btn btn-lg btn-info'

            }
            ,
            {
                text:'<i class="fa fa-plus" aria-hidden="true"></i>',
                tittleAttr: 'Agregar Nuevo',
                className:'btn btn-lg btn-primary',
                action: function() {
                    window.location.href = "OrdenTrabajoes/Create";
                }
            },
            {
                text:'<i class="fa fa-search" aria-hidden="true"><div class="badge">HOY</div></i>',
                tittleAttr: 'creadas hoy',
                className:'btn btn-lg btn-success',
                action: function() {
                    var today = new Date();
                  
                   var date = today.DATE
                    $("#OrdenesDeTrabajo_filter input").val(date);
                    $("#OrdenesDeTrabajo_filter input").focus();
                    
                 
                }
            }


        ],
        autoFill: false,
        responsive: true,
        select:false,
          
        rowId: "idOrdenTrabajo",
        "columns": [
           
            { "data": "idOrdenTrabajo" },
            { "data": "fechaOrdenTrabajo" },
            { "data": "cantidadPiezasPorOrden" },
            { "data": "cajasRecibidas" },
            { "data": "piezasRealizadas" },
            { "data": "horaInicio" },
            { "data": "horaFinalizacion" },
            { "data": "etiquetaDeCaja" },
            { "data": "maxScrap" },
            { "data": "idCodigoOrdenTrabajo" },
            { "data": "idEstadoOrden" },
            { "data": "nombreEstadoOrden" },
            { "data": "idInstructivo" },
            { "data": "nombreInstructivo" },
            { "data": "idParteFK" },
            { "data": "idCodigoOrdenTrabajo" },
            { "data": "idParte" },
            { "data": "idCodigoParte" }


        ]



    });

   
    var table = $('#OrdenesDeTrabajo').DataTable();
    $('#OrdenesDeTrabajo').on( 'click', 'td', function () {
    var id = table.row( this ).id();
    window.location.href = "OrdenTrabajoes/Details/" + id;
     
    });

});


    </script>
}


