@model IEnumerable<OTMF_NETCORE_MVC.Models.Hule>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
    <partial name="_navigationColumnPartes"/>

        <div class="col-9">
            <fieldset>
                <legend>Hules</legend>
<table class="table" id="Hule">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreHule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreHule)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHule"   class="btn btn-lg btn-primary">Editar</a> 
              
                <a asp-action="Delete" asp-route-id="@item.IdHule" class="btn btn-lg btn-danger" >Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>



            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script src="~/js/Hules/IndexHules.js" type="text/javascript"></script>
}



