@model OTMF_NETCORE_MVC.Models.Parte

@{
    ViewData["Title"] = "Create";
}
<div class="container">
 
<div class="row">
    <div4>

            <form asp-action="Create" class="form">
                <input asp-for="IdParteAccesorioFk" value="0" type="hidden" class="form-control" />
      <h5 class="text-center">Crear Parte</h5>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        
        <div
          class="progress-step progress-step-active"
          data-title="Identificacion"
        ></div>
        <div class="progress-step" data-title="Descripcion"></div>
        <div class="progress-step" data-title="Empaques"></div>
        <div class="progress-step" data-title="Componentes"></div>
   
 
      </div>

      <!-- Steps -->
      <div class="form-step form-step-active">
        <div class="container">
            <div class="row">
                <div class="col-6">
                     <div class="form-group">
        <label asp-for="IdCodigoParte" class="control-label"> <strong>Codigo de la Parte</strong></label>
        <input asp-for="IdCodigoParte" placeholder="Codigo de la Parte" class="form-control" required />
        <span asp-validation-for="IdCodigoParte" class="text-danger"></span>
    </div>
                </div>
                <div class="col-6">
                      <div class="form-group">
        <label asp-for="IdClienteFk" class="control-label">Cliente</label>
        <select asp-for="IdClienteFk" id="ClienteSelect" class ="form-control" onchange="EvaluateSelect()" asp-items="ViewBag.IdClienteFk" required>
            <option selected disabled>
                Seleccionar Cliente
            </option>
        </select>
    </div>
     <div class="form-group">
        <label asp-for="Costo" class="control-label">Costo</label>
        <input asp-for="Costo" type="number" placeholder="0.000" class="form-control"  required/>
        <span asp-validation-for="Costo" class="text-danger"></span>
    </div>
                </div>
            </div>
        </div>
        <div class="">
          <a href="#" class="btn btn-next width-50 ml-auto mt-3">Siguiente</a>
        </div>
      </div>
      <div class="form-step">
        <div class="container">
            <div class="row">
                <div class="col-6">
                       <div class="form-group">
        <label asp-for="IdHuleFk" class="control-label">Hule</label>
        <select asp-for="IdHuleFk" class ="form-control" asp-items="ViewBag.IdHuleFk" required >
            <option selected disabled>Seleccionar Hule</option></select>
    </div>
      <div class="form-group">
        <label asp-for="IdPinturaFk" class="control-label">Pintura</label>
        <select asp-for="IdPinturaFk" class ="form-control" asp-items="ViewBag.IdPinturaFk" required>
            <option selected disabled > 
                Seleccionar Pintura
            </option>
        </select>
    </div>
     <div class="form-group">
        <label asp-for="IdColorFk" class="control-label">Color de Parte</label>
        <select asp-for="IdColorFk" class ="form-control" asp-items="ViewBag.IdColorFk" required>
            <option disabled selected>
                Seleccionar Color de Parte
            </option>
        </select>
    </div>

                </div>

                <div class="col-6">
                       <div class="form-group">
        <label asp-for="IdMoldeFk" class="control-label">Molde</label>
        <select asp-for="IdMoldeFk" class ="form-control" asp-items="ViewBag.IdMoldeFk"required>
            <option selected disabled >
                Seleccionar Molde
            </option>
        </select>
    </div>

     <div class="form-group">
        <label asp-for="Aluminio" class="control-label">Aluminio</label>
        <input asp-for="Aluminio" type="number" placeholder="0.000" class="form-control" required/>
        <span asp-validation-for="Aluminio" class="text-danger"></span>
    </div>
     
      <div class="form-group">
        <label asp-for="IdEstandarPorHoraFk" class="control-label">Estandar por hora</label>
        <select asp-for="IdEstandarPorHoraFk" class ="form-control" asp-items="ViewBag.IdEstandarPorHoraFK" required>
            <option selected disabled>
                Seleccionar Estandar por Hora
            </option>
        </select>
    </div>


                </div>
            </div>

        </div>
        
            
        <div class="btns-group mt-3">
          <a href="#" class="btn btn-prev">Anterior</a>
          <a href="#" class="btn btn-next">Siguiente</a>
        </div>
      </div>
      <div class="form-step">
       <div class="container">
           <div class="row">
               <div class="col-6">
                    <div class="form-group">
        <label asp-for="IdTarimaFk" class="control-label"> Tipo de Tarima</label>
        <select asp-for="IdTarimaFk" class ="form-control" asp-items="ViewBag.IdTarimaFk" required>
            <option selected disabled>Seleccionar Tarima</option>
        </select>
    </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label asp-for="IdCajaFk" class="control-label">Caja</label>
        <select asp-for="IdCajaFk" class ="form-control" asp-items="ViewBag.IdCajaFk" required>
            <option selected disabled>
                Seleccionar Caja
            </option>
        </select>
    </div>
               </div>
                 <div class="form-group">
        <label asp-for="PiezasPorCaja" class="control-label">Partes Por Caja</label>
        <input asp-for="PiezasPorCaja" placeholder="0" required type="number" class="form-control"/>
        <span asp-validation-for="PiezasPorCaja" class="text-danger"></span>
    </div>
          
             

           </div>
                <div class="row">
                     <div class="col-3">
                   <div class="form-group">
        <label asp-for="CajasPorTarima" class="control-label">Cajas por Tarima</label>
        <input asp-for="CajasPorTarima" placeholder="0" type="number" required class="form-control" />
        <span asp-validation-for="CajasPorTarima" class="text-danger"></span>
    </div>
    </div>
    <div class="col-3">
     <div class="form-group">
        <label asp-for="IdEtiquetaFk" class="control-label">Etiqueta de Parte</label>
        <select asp-for="IdEtiquetaFk" id="etiquetaParte" class ="form-control" asp-items="ViewBag.IdEtiquetaFK" required>
            <option selected disabled> Seleccionar Etiqueta</option>
        </select>
    </div>
               </div>
               <div class="col-6">
                      <div class="form-group">
        <label asp-for="IdEtiquetaCajaFk" class="control-label">Etiqueta de Caja</label>
        <select asp-for="IdEtiquetaCajaFk" id="etiquetaCaja" class ="form-control" asp-items="ViewBag.IdEtiquetaCajaFk" required>
            <option selected disabled>
                Seleccionar Etiqueta de la Caja 
            </option>
        </select>
    </div>
               </div>
               </div>
       </div>
        <div class="btns-group mt-3">
          <a href="#" class="btn btn-prev">Anterior</a>
          <a href="#" class="btn btn-next">Siguiente</a>
        </div>
      </div>
    
     
         
      <div class="form-step">
       
      <div class="container">
          <div class="row">
              <div class="col-6">
                   <div class="form-group">
        <label asp-for="IdInstructivoPiezaFk" class="control-label">Instructivo de la Parte</label>
        <select asp-for="IdInstructivoPiezaFk" class ="form-control" asp-items="ViewBag.IdInstructivoPiezaFk" required>
            <option selected disabled>
                Seleccionar Instructivo
            </option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="IdInsertoFk" class="control-label">Inserto</label>
        <select asp-for="IdInsertoFk" class ="form-control" asp-items="ViewBag.IdInsertoFk" required>
            <option selected disabled>
                Seleccionar Inserto
            </option>
        </select>
    </div>
              </div>
              <div class="col-6">
                  <div class="form-group">
        <label asp-for="IdEnsambleFk" class="control-label">Ensamble</label>
        <select asp-for="IdEnsambleFk" class ="form-control" asp-items="ViewBag.IdEnsambleFk" required>
            <option selected disabled>Seleccionar Ensable</option>
        </select>
    </div>
     <div class="form-group">
        <label asp-for="IdColorFk" class="control-label">Color de Parte</label>
        <select asp-for="IdColorFk" class ="form-control" asp-items="ViewBag.IdColorFk" required>
            <option disabled selected>
                Seleccionar Color de Parte
            </option>
        </select>
    </div>

              </div>
          </div>
      </div>
    
  
        <div class="btns-group mt-3">
          <a href="#" class="btn btn-prev">Anterior</a>
          <input type="submit" value="Crear" class="btn" />
        </div>
      </div>
    </form>



     
    </div>
</div>

<div>
   
</div>







  


@section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/js/Partes/CreateParte.js" type="text/javascript"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
