@model OTMF_NETCORE_MVC.Models.Parte

@{
    ViewData["Title"] = "Details";
}

<input asp-for="IdParte" id="idParte" type="hidden" />

<div class="container">
    <h4> Detalle de Parte</h4>
    <hr />
    <div class="row">
        <div class="col-6 offset-3">
             <div id="DetalleParte" class="d-flex align-content-start flex-wrap">

    </div>
        </div>
   
    
    </div>
        <a asp-action="Edit" asp-route-id="@Model?.IdParte" class="btn btn-lg btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-lg btn-danger">Regresar</a>
</div>
<div>

</div>


@section Scripts{
    <script>

$(document).ready(function() {
    ObtenerDetalleParteById();
});


function ObtenerDetalleParteById(){
    var IdParte = document.getElementById("idParte").value;
    $.ajax({
        type:"POST",
        url:"@Url.Action("ObtenerDetalleParteById")",
        dataType:"json",
        data: {
            IdParte:IdParte
        },
        success: function(data) {
            
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Caja</p><p></div><div><p>"+data.data[0].NombreCaja+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Cliente</p></div><div><p>"+data.data[0].NombreCliente+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Color</p></div><div><p>"+data.data[0].NombreColor+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Ensamble</p></div><div><p>"+data.data[0].NombreEnsamble+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Estandar</p></div><div><p>"+data.data[0].NombreEstandar+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Estandar CR</p></div><div><p>"+data.data[0].NombreEstandarconRelevo+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Etiqueta</p></div><div><p>"+data.data[0].NombreEtiqueta+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Hule</p></div><div><p>"+data.data[0].NombreHule+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Inserto</p></div><div><p>"+data.data[0].NombreInserto+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Molde</p></div><div><p>"+data.data[0].NombreMolde+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Pintura</p></div><div><p>"+data.data[0].NombrePintura+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Tarima</p></div><div><p>"+data.data[0].NombreTarima+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Piezas por Caja</p></div><div><p>"+data.data[0].PiezasPorCaja+"</p></div>");
            $("#DetalleParte").append("<div><p class='badge bg-primary'>Scrap</p></div><div><p>"+data.data[0].Scrap+"</p></div>");
        }
        

    })
}
    </script>
}