@model OTMF_NETCORE_MVC.Models.Parte

@{
    ViewData["Title"] = "Details";
}

<input asp-for="IdParte" id="idParte" type="hidden" />

<div class="container">
    <h4> Detalle de Parte</h4>
    <hr />
    <div class="row">
        <div class="col-9">
             <div id="DetalleParte" class="d-flex  flex-wrap">

    </div>
        </div>
        <div class="col-3">

           
                <fieldset>
                    <legend>Accesorios</legend>
                     <div id="partesAsignadas">

                     </div>
                </fieldset>
           
        </div>
   
    
    </div>
    <hr />
    <div class="btns-group">
    <a asp-action="Edit" asp-route-id="@Model?.IdParte" class="btn btn-primary">Editar</a> 
    <a data-bs-toggle="modal" data-bs-target="#modalAccessorios" class="btn  btn-primary">Asignar accesorios</a> 
    <a asp-action="Index" class="btn  btn-danger">Regresar</a>
    </div>

</div>
<div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalAccessorios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asignar Accesorios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <select class="form-control" id="SelectAccesorios" asp-items="ViewBag.Accesorios">
                    <option selected disabled>
                    Eleguir Accesorio
                    </option>
            </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="InsertAccesorio();">Save changes</button>
      </div>
    </div>
  </div>
</div>




@section Scripts{
    <script src="~/js/Partes/DetailsParte.js"></script>
}