@model OTMF_NETCORE_MVC.Models.Parte

@{
    ViewData["Title"] = "Details";
}

<input asp-for="IdParte" id="idParte" type="hidden" />

<div class="container">
    <h4> Detalle de Parte</h4>
    <hr />
    <div class="row">
        <div class="col-6 offset-3">
             <div id="DetalleParte">

    </div>
        </div>
   
    
    </div>
        <a asp-action="Edit" asp-route-id="@Model?.IdParte" class="btn btn-lg btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-lg btn-danger">Regresar</a>
</div>
<div>

</div>


@section Scripts{
    <script>

$(document).ready(function() {
    ObtenerDetalleParteById();
});


function ObtenerDetalleParteById(){
    var IdParte = document.getElementById("idParte").value;
    $.ajax({
        type:"POST",
        url:"@Url.Action("ObtenerDetalleParteById")",
        dataType:"json",
        data: {
            IdParte:IdParte
        },
        success: function(data) {
            
            $("#DetalleParte").append("<div><p>Caja</p>"+data.data[0].NombreCaja+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Cliente</p>"+data.data[0].NombreCliente+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Color</p>"+data.data[0].NombreColor+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Ensamble</p>"+data.data[0].NombreEnsamble+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Estandar</p>"+data.data[0].NombreEstandar+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Estandar CR</p>"+data.data[0].NombreEstandarconRelevo+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Etiqueta</p>"+data.data[0].NombreEtiqueta+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Hule</p>"+data.data[0].NombreHule+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Inserto</p>"+data.data[0].NombreInserto+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Molde</p>"+data.data[0].NombreMolde+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Pintura</p>"+data.data[0].NombrePintura+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Tarima</p>"+data.data[0].NombreTarima+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Piezas por Caja</p>"+data.data[0].PiezasPorCaja+"</div><hr/>");
            $("#DetalleParte").append("<div><p>Scrap</p>"+data.data[0].Scrap+"</div><hr/>");
        }
        

    })
}
    </script>
}