@model OTMF_NETCORE_MVC.Models.Parte

@{
    ViewData["Title"] = "Edit";
}

<div>
    <div>
        <form asp-action="Edit" class="container">
        <h4>Parte</h4>
            <hr />
            <div class="row">
                <div class="col-4">
                      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="IdParte" type="hidden" asp-for="IdParte" />
            <div class="form-group">
                <label asp-for="IdCodigoParte" class="control-label"><strong>Codigo de la Parte</strong></label>
                <input asp-for="IdCodigoParte" placeholder="Codigo de la Parte" class="form-control" required />
                <span asp-validation-for="IdCodigoParte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTarimaFk" class="control-label">Tarima</label>
                <select asp-for="IdTarimaFk" class="form-control" asp-items="ViewBag.IdTarimaFk" required>
                  
                </select>
                <span asp-validation-for="IdTarimaFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluminio" class="control-label">Aluminio</label>
                <input asp-for="Aluminio" class="form-control" />
                <span asp-validation-for="Aluminio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEnsambleFk" class="control-label">Ensamble</label>
                <select asp-for="IdEnsambleFk" class="form-control" asp-items="ViewBag.IdEnsambleFk">
               
                </select>
                <span asp-validation-for="IdEnsambleFk" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Costo" class="control-label">Costo</label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstandarPorHora" class="control-label">Estandar por Hora</label>
                <input asp-for="EstandarPorHora" class="form-control" />
                <span asp-validation-for="EstandarPorHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCajaFk" class="control-label">Caja</label>
                <select asp-for="IdCajaFk" class="form-control" asp-items="ViewBag.IdCajaFk">
           
                </select>
                <span asp-validation-for="IdCajaFk" class="text-danger"></span>
            </div>
           
            </div>

            <div class="col-4">
                 <input asp-for="IdParteAccesorioFk" value="0" type="hidden" class="form-control" />
           
            <div class="form-group">
                <label asp-for="IdEstandarFk" class="control-label">Estandar</label>
                <select asp-for="IdEstandarFk" class="form-control" asp-items="ViewBag.IdEstandarFk">
              
                </select>
                <span asp-validation-for="IdEstandarFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEtiquetaFk" class="control-label">Etiqueta</label>
                <select asp-for="IdEtiquetaFk" class="form-control" asp-items="ViewBag.IdEtiquetaFk">
             
                </select>
                <span asp-validation-for="IdEtiquetaFk" class="text-danger"></span>
            </div>
                  <div class="form-group">
                <label asp-for="IdInsertoFk" class="control-label">Inserto</label>
                <select asp-for="IdInsertoFk" class="form-control" asp-items="ViewBag.IdInsertoFk">
                
                </select>
                <span asp-validation-for="IdInsertoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMoldeFk" class="control-label">Molde</label>
                <select asp-for="IdMoldeFk" class="form-control" asp-items="ViewBag.IdMoldeFk">
              
                </select>
                <span asp-validation-for="IdMoldeFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClienteFk" class="control-label">Cliente</label>
                <select asp-for="IdClienteFk" class="form-control" asp-items="ViewBag.IdClienteFk">
                   
                </select>
                <span asp-validation-for="IdClienteFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scrap" class="control-label"></label>
                <input asp-for="Scrap" class="form-control" />
                <span asp-validation-for="Scrap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstandarConRelevoFk" class="control-label">Estandar con Relevo</label>
                <select asp-for="IdEstandarConRelevoFk" class="form-control" asp-items="ViewBag.IdEstandarConRelevoFk"></select>
                <span asp-validation-for="IdEstandarConRelevoFk" class="text-danger"></span>
            </div>
          
            </div>
                <div class="col-4">
                      <div class="form-group">
                <label asp-for="PiezasPorCaja" class="control-label">Piezas por caja</label>
                <input asp-for="PiezasPorCaja" class="form-control" />
                <span asp-validation-for="PiezasPorCaja" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="IdColorFk" class="control-label">Color</label>
              <select asp-for="IdColorFk" class="form-control" asp-items="ViewBag.IdColorFk"></select>
                <span asp-validation-for="IdColorFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CajasPorTarima" class="control-label">Cajas por Tarima</label>
                <input asp-for="CajasPorTarima" class="form-control" />
                <span asp-validation-for="CajasPorTarima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StdPintura" class="control-label">Std Pintura</label>
                <input asp-for="StdPintura" class="form-control" />
                <span asp-validation-for="StdPintura" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="IdHuleFk" class="control-label">Hule</label>
                <select asp-for="IdHuleFk" class="form-control" asp-items="ViewBag.IdHuleFk">
                    <option selected disabled>
                    Eleguir Hule
                    </option>
                </select>
                <span asp-validation-for="IdHuleFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPinturaFk" class="control-label">Pintura</label>
                <select asp-for="IdPinturaFk" class="form-control" asp-items="ViewBag.IdPinturaFk">
                    <option selected disabled>
                            Eleguir Pintura
                    </option>
                </select>
                <span asp-validation-for="IdPinturaFk" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="IdInstructivoPiezaFk" class="control-label">Instructivo de la Parte</label>
                <select asp-for="IdInstructivoPiezaFk" class ="form-control" asp-items="ViewBag.IdInstructivoPiezaFk" required>
                    <option selected disabled>
                        Seleccionar Instructivo
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdEtiquetaCajaFk" class="control-label">Etiqueta de Caja</label>
                <select asp-for="IdEtiquetaCajaFk" class ="form-control" asp-items="ViewBag.IdEtiquetaCajaFK" required>
                    <option selected disabled>
                        Seleccionar Etiqueta de la Caja 
                    </option>
                </select>
            </div>
              <div class="form-group">
                <label asp-for="IdEstandarPorHoraFk" class="control-label">Estandar por hora</label>
                <select asp-for="IdEstandarPorHoraFk" class ="form-control" asp-items="ViewBag.IdEstandarPorHoraFK" required>
                    <option selected disabled>
                        Seleccionar Estandar por Hora
                    </option>
                </select>
            </div>

                </div>
            </div>
            <div class="row">
              
                <div class="form-group mt-3 btns-group">
                 <a class="btn btn-lg btn-danger" asp-action="Index">Regresar</a>
                <input type="submit" value="Guardar" class="btn btn-lg btn-primary" />
            </div>
            </div>
          
            <div class="row">
                <div class="col-6 offset-4">
                    <div class="border border-3 shadow m-2 p-2">
                        <div id="partesAsignadas">

                        </div>
                        
                        <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAccessorios">
                     Asignar Accesorios
                    </button>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

<!-- Modal -->
<div class="modal fade" id="modalAccessorios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asignar Accesorios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <select class="form-control" id="SelectAccesorios" asp-items="ViewBag.Accesorios">
                    <option selected disabled>
                    Eleguir Accesorio
                    </option>
                </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="InsertAccesorio();">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAccessoriosUpdate" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Accesorios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <select class="form-control" id="SelectAccesorios" asp-items="ViewBag.Accesorios">
                    <option selected disabled>
                    Eleguir Accesorio
                    </option>
                </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="UpdateAsignacionAccesorioById();">Save changes</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Partes/EditParte.js"></script>
}
