

@model IEnumerable<OTMF_NETCORE_MVC.Models.Parte>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
    <div class="col-3" >
        <fieldset>
            <legend><h5 class="display-6">Gestionar</h5></legend>
        <div class="d-flex flex-column flex-shrink-0 p-1 bg-light">
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a asp-controller="Partes"  asp-action="Index" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Partes
        </a>
      </li> <li class="nav-item">
        <a class="nav-link link-dark" asp-controller="Moldes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Molde
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Accesorios"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Accessorio
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Insertoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Inserto
        </a>
      </li> 
      <li>
        <a class="nav-link link-dark" asp-controller="Pinturas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Pintura
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Hules"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Hule
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Estandars"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Estandar
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Ensambles"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Ensamble
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="EstandarConRelevoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Estandar CR
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Etiquetums"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Etiqueta
        </a>
      </li>
      
      <li>
        <a class="nav-link link-dark" asp-controller="Tarimas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Tarima
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Colors"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Color
        </a>
      </li>

      <li>
        <a class="nav-link link-dark" asp-controller="Cajas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Caja
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Clientes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Clientes
        </a>
      </li>
    </ul>
    <hr>
  
  </div>
  </fieldset>
    </div>

        <div class="col-9">
            <fieldset>
                <legend>Partes</legend>
                     <table class="table" id="Partes">
   
                         <thead> 
                             <tr>
                                 <th> IdParte</th>
                                 <th> Aluminio</th>
                                 <th> CajasPorTarima</th>
                                 <th> Costo</th>
                                 <th> EstarPorHora</th>
                                 <th> IdCodigoParte</th>
                                 <th> PiezasPorCaja</th>
                                 <th> Scrap</th> 
                                 <th> Std_Pintura</th>
                                 <th> IdCaja</th>
                                 <th> NombreCaja</th>
                                 <th> IdColor</th>
                                 <th> NombreColor</th>
                                 <th> IdPintura</th>
                                 <th> NombrePintura</th>
                                 <th> IdTarima</th>
                                 <th> NombreTarima</th>
                                 <th> IdMolde</th>
                                 <th> NombreMolde</th>
                                 <th> IdEnsamble</th>
                                 <th> NombreEnsamble</th>
                                 <th> IdEstandarConRelevo</th>
                                 <th> NombreEstandarConRelevo</th>
                                 <th> NombreEtiqueta</th>
                                 <th> IdEtiqueta</th>
                                 <th> NombreInserto</th>
                                 <th> IdInserto</th>
                                 <th> IdHule</th>
                                 <th> NombreHule</th>
                                 <th> IdEstandar</th>
                                 <th> NombreEstandar</th>
                                 <th> IdCliente</th>
                                 <th> NombreCliente</th>
                             </tr>
                         </thead>
                         <tbody>

                         </tbody>
                         <tfoot></tfoot>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script>
        
$(document).ready(function () {


    $("#Partes").DataTable({
        "ajax": {
            "url": "Partes/ObtenerPartes",
            "type": "GET",
            "datatype": "json"
        },
        "columns": [
            { "data": "idParte" },
            { "data": "idCodigoParte" },
            { "data": "aluminio" },
            { "data": "cajasPorTarima" },
            { "data": "costo" },
            { "data": "estandarPorHora" },
            { "data": "piezasPorCaja" },
            { "data": "scrap" },
            { "data": "Std_Pintura" },
            { "data": "IdCaja" },
            { "data": "NombreCaja" },
            { "data": "NombreColor" },
            { "data": "idColor" },
            { "data": "nombrePintura" },
            { "data": "idPintura" },
            { "data": "nombreTarima" },
            { "data": "idTarima" },
            { "data": "nombreMolde" },
            { "data": "idMolde" },
            { "data": "nombreEnsamble" },
            { "data": "idEnsamble" },
            { "data": "nombreEstandarConRelevo" },
            { "data": "idEstandarConRelevo" },
            { "data": "nombreEtiqueta" },
            { "data": "idEtiqueta" },
            { "data": "nombreInserto" },
            { "data": "idInserto" },
            { "data": "nombreHule" },
            { "data": "idHule" },
            { "data": "nombreEstandar" },
            { "data": "idEstandar" },
            { "data": "nombreCliente" },
            { "data": "idCliente" },
             {
                "data": "null",
                "className": "dt-center editor-edit",
                "defaultContent": "<i onclick='myFunction()' class='fa fa-eye'/>",
                "orderable": "false"
            },
           
        ],
         columnDefs:[
             {
                 targets : 0,
                 visible:false
             }, 
             {
                 targets : 4,
                 visible:false
             },
             {
                 targets : 6,
                 visible:false
             }
         ],

          buttons: [
        'copy', 'excel', 'pdf'
    ]
    });

   


});


    </script>
}



