

@model IEnumerable<OTMF_NETCORE_MVC.Models.Parte>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
    <div class="col-3" >
        <fieldset>
            <legend><h5 class="display-6">Gestionar</h5></legend>
        <div class="d-flex flex-column flex-shrink-0 p-1 bg-light">
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a asp-controller="Partes"  asp-action="Index" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Partes
        </a>
      </li> <li class="nav-item">
        <a class="nav-link link-dark" asp-controller="Moldes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Molde
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Accesorios"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Accessorio
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Insertoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Inserto
        </a>
      </li> 
      <li>
        <a class="nav-link link-dark" asp-controller="Pinturas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Pintura
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Hules"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Hule
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Estandars"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Estandar
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Ensambles"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Ensamble
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="EstandarConRelevoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Estandar CR
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Etiquetums"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Etiqueta
        </a>
      </li>
      
      <li>
        <a class="nav-link link-dark" asp-controller="Tarimas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Tarima
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Colors"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Color
        </a>
      </li>

      <li>
        <a class="nav-link link-dark" asp-controller="Cajas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Caja
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Clientes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Clientes
        </a>
      </li>
    </ul>
    <hr>
  
  </div>
  </fieldset>
    </div>
        <div class="col-9">
            <fieldset>
                <legend>Partes</legend>
                     <table class="table table-hover" id="Partes">
   
                         <thead> 
                             <tr>
                                 <th>Codigo Parte </th>
                                 <th>Aluminio</th>
                                 <th>Cajas por Tarima</th>
                                 <th>Costo</th>
                                 <th>Estandar por Hora</th>
                                 <th>Piezas Por Caja</th>
                                 <th>scrap</th>
                                 <th>std_Pintura</th>
                                 <th>Nombre Caja</th>      
                                 <th>Nombre Color</th>
                                 <th>Nombre Pintura</th>
                                 <th>Nombre Tarima</th>
                                 <th>Nombre Molde</th>
                                 <th>Nombre Ensamble</th>
                                 <th>Nombre Estanadar Con Relevo</th>
                                 <th>Nombre Etiqueta</th>
                                 <th>Nombre Inserto</th>
                                 <th>Nombre Hule</th>
                                 <th>Nombre Estandar</th>
                                 <th>Nombre Cliente</th>
                             </tr>
                         </thead>
                         <tbody>

                         </tbody>
                         <tfoot></tfoot>
                        </table>
            </fieldset>
    </div>
    </div>
</div>
@section Scripts{
    <script>
        
$(document).ready(function () {


    $("#Partes").DataTable({
        "ajax": {
            "url": "Partes/ObtenerPartes",
            "type": "GET",
            "datatype": "json"
        },
           dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel"></i>',
                tittleAttr: 'Exportar a Excel',
                className: 'btn btn-lg btn-success'

            },
           
            {
                text:'<i class="fa fa-plus" aria-hidden="true"></i>',
                tittleAttr: 'Agregar Nuevo',
                className:'btn btn-lg btn-primary',
                action: function() {
                    window.location.href = "Partes/Create";
                }
            }


        ],
        autoFill: false,
        responsive: true,
        select:false,
        rowId:"idParte",
        "columns": [
            { "data": "idCodigoParte"},
            { "data": "aluminio"},
            { "data": "cajasPorTarima"},
            { "data": "costo"},
            { "data": "estandarPorHora"},
            { "data": "piezasPorCaja"},
            { "data": "scrap"},
            { "data": "std_Pintura"},
            { "data": "nombreCaja"},
            { "data": "nombreColor"},
            { "data": "nombrePintura"},     
            { "data": "nombreTarima"},      
            { "data": "nombreMolde"},     
            { "data": "nombreEnsamble"},       
            { "data": "nombreEstandarConRelevo"},
            { "data": "nombreEtiqueta"},     
            { "data": "nombreInserto"},       
            { "data": "nombreHule"},      
            { "data": "nombreEstandar"},
            { "data": "nombreCliente"}
        ]
    });

    var table = $('#Partes').DataTable();
     $('#Partes').on( 'click', 'td', function () {
    var id = table.row( this ).id();
    window.location.href = "Partes/Details/" + id;
     
     });

});


    </script>
}



