@model IEnumerable<OTMF_NETCORE_MVC.Models.Tarima>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="row">
     <div class="col-1 bg-gradient-primary">

            <partial name="_navigationColumnPartes"/>

        </div>
    

        <div class="col-10 offset-1">
            <fieldset>
                <legend>Tarimas</legend>
<table class="table" id="Tarimas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTarima)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTarima)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTarima"   class="btn btn-lg btn-primary">Edit</a> 

                <a asp-action="Delete" asp-route-id="@item.IdTarima" class="btn btn-lg btn-danger" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>








@section Scripts{
    <script src="~/js/Tarimas/IndexTarimas.js"></script>
}

