@model IEnumerable<OTMF_NETCORE_MVC.Models.Color>

@{
    ViewData["Title"] = "Index";
}



<div class="container-fluid">
    <div class="row">
    <partial name="_navigationColumnPartes"/>

        <div class="col-9">
            <fieldset>
                <legend>Colores</legend>
<table class="table" id="Colors">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreColor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdColor"   class="btn btn-lg btn-primary">Edit</a> 
          
                <a asp-action="Delete" asp-route-id="@item.IdColor" class="btn btn-lg btn-danger" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>








@section Scripts{
    <script src="~/js/Colors/IndexColors.js" type="text/javascript"></script>
}

