@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager


<ul class="navbar-nav">
    @if(SignInManager.IsSignedIn(User))
    {
          <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
        <li class="nav-item">
            <span class="nav-link text-dark">Hola , @User.Identity.Name</span>
        </li>
        <li>
            <form class="form-inline" asp-action="logout" asp-controller="usuarios">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    Logout
                </button>
            </form>
            
        </li>
    }
    else
        {
            <li class="nav-item" >
                <a class="nav-link dark-text" asp-controller="usuarios" asp-action="Registro">
                    Registro
                </a>
            </li>
              <li class="nav-item" >
                <a class="nav-link dark-text" asp-controller="usuarios" asp-action="Login">
                    Login
                </a>
            </li>
        }


</ul>