@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager


<div>
    @if(SignInManager.IsSignedIn(User))
    {
          <div class="btn-group dropstart">
      <a href="#" class="btn btn-secondary dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="" width="32" height="32" class="rounded-circle me-2">
     
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
        <li>
            <form class="dropdown-item" asp-action="logout" asp-controller="usuarios">
                <p class="d-flex text-wrap">Usuario : @User.Identity.Name</p>
                <button type="submit" class="nav-link text-dark">
                    Logout
                </button>
            </form>
    </li>
      </ul>
    </div>
        
    }
    else
        {

           
        }


</div>