
   <div class="col-3" >
        <fieldset>
            <legend><h5 class="display-6">Gestionar</h5></legend>
        <div class="d-flex flex-column flex-shrink-0 p-1 bg-light">
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link link-dark" asp-controller="Partes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Partes
        </a>
      </li> <li class="nav-item">
        <a class="nav-link link-dark" asp-controller="Moldes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Molde
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Accesorios"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Accessorio
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Insertoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Inserto
        </a>
      </li> 
      <li>
        <a class="nav-link link-dark" asp-controller="Pinturas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Pintura
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Hules"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Hule
        </a>
      </li>
     
      <li>
        <a class="nav-link link-dark" asp-controller="Ensambles"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Ensamble
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Turnoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Etiqueta de Caja
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Etiquetums"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Etiqueta de Pieza
        </a>
      </li>
      
      <li>
        <a class="nav-link link-dark" asp-controller="Tarimas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Tarima
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Colors"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Color
        </a>
      </li>

      <li>
        <a class="nav-link link-dark" asp-controller="Cajas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Caja
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Clientes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Clientes
        </a>
      </li>
    </ul>
    <hr>
  
  </div>
  </fieldset>
    </div>