
@model IEnumerable<OTMF_NETCORE_MVC.Models.Maquina>

@{
    ViewData["Title"] = "Index";
}
<div id="wrapper">

    <partial name="_navigationColumnPartes" />
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid mt-1">
                 <fieldset>
                <legend>Lineas</legend>
                     <table class="table" id="Maquinas">
    <thead>
        <tr>
            <th>
                Nombre Linea
            </th>
            <th>
                Estado Linea
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMaquina)
            </td>
            <td>
                 @{if(@item.EstadoMaquina == true){
                             <p>Disponible para asignarse a un Usuario</p>
                 }else{
                             <p>No disponible para asignarse a un Usuario</p>
                 } }
            </td>
            <td>
                <div class="btns-group">
                 <a asp-action="Edit" asp-route-id="@item.IdMaquina"    class="btn btn-lg btn-primary">Edit</a> 
           
                <a asp-action="Delete" asp-route-id="@item.IdMaquina"  class="btn btn-lg btn-danger" >Delete</a>

                </div>
             
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
        </div>
        
    </div>
</div>
</div>



@section Scripts{
    <script src="~/js/Maquinas/IndexMaquinas.js" type="text/javascript"></script>
}


